* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* overflow: auto; */
  /* height: 100vh; */
}

main {
  background-color: blue;
  height: 100vh;
}

.parent {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  height: 100vh;
  background-color: brown;
  color: #fff;
  scroll-snap-align: start;
  padding: 7em;
}

section:nth-child(2) {
  background-color: rgba(71, 29, 105, 0.593);
}

section:nth-child(3) {
  background-color: rgba(105, 29, 67, 0.593);
}

section:nth-child(4) {
  background-color: rgba(47, 79, 13, 0.593);
}
/* 
@supports (scroll-snap-align: start) {
  body {
    scroll-snap-type: y proximity;
    scroll-padding-top: 15vh;
    overflow-y: scroll;
  }
} */